{% extends 'layouts/base.html.twig' %}
{% block title %}
    Home | {{ parent() }}
{% endblock %}
{% block body %}
    {% for client in clients %}
        <div class="offerBlock">
            <div>{{ client.designation }}</div>
            <div>{{ client.dateCreation|date('m-d-Y') }}</div>
            <SPAN style="background-image: url('/uploads/{{ client.imageOfProduct }}')" class="img"></SPAN>
        </div>
    {% endfor %}
{% endblock %}