li.active a{
    color: red;
}
li{
    margin-left: 40px;
}
.home header{
    background-color: red;
}
.about header{
    background-color: blue;
}
.newclient header{
    background-color: greenyellow;
}
header{
    background-color: blue;
    padding: 10px;
}
 ul {
     background-color: #5eb5e0;
     display: flex;
 }
 .offerBlock{
     display: flex;

 }
 .offerBlock .img{
     width: 100px;
     height: 100px;
     background-repeat: no-repeat;
 }